<div class="col-sm-12" style="background-color:#eceee0">
  <div class="row p-2 d-flex justify-content-end" style="background-color:
    #4e772b;">
    <div class="col-sm-6 d-flex justify-content-start">
      <div class="p-2"><span style="font-size: 0.7em;color:#eceee0;">Language En</span></div>
      <div> <button class="btn">
          <img src="assets/malaysia flag.png" style="width: 1em; height: 0.9em">
        </button></div>
      <div><button class="btn">
          <img src="assets/iranflag.png" style="width: 1em; height: 1em;">
        </button></div>
      <div class="p-2"><span>|</span></div>
      <div class="p-2"> <span style="font-size: 0.7em; color: #eceee0;">Call
          Us:+601115007362</span>
      </div>
    </div>
    <div class="col-sm-6" style="margin-top: 0.5em;">
      <div class="d-flex justify-content-end">
        <button class="btn btn-border-0" type="button" style="font-size:
          0.75em;color: #eceee0;">Search</button>
        <div class="input-icons">
          <i class="fas fa-map-marker-alt icon"></i>
          <input class="form-control input-field" type="text"
            style="border-radius: 50em 50em; font-size: 0.75em; height: 1em;"
            placeholder="Search">
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center" style="background-color: #eceee0;">
    <nav class="navbar navbar-expand" style="color: #4e772b;">
      <h2 style="margin-top: 1em;margin-right: 1em;">Organic World</h2>
      <ul class="navbar-nav" style="color: #4e772b;margin-left: 6em;">
        <li class="nav-item">
          <a class="nav-link" style="color:#4e772b;" href="#">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" style="color:#4e772b;" href="#"
            role="button" data-bs-toggle="dropdown">Sing Up</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" style="color:#4e772b;" href="#">Link</a></li>
            <li><a class="dropdown-item" style="color:#4e772b;" href="#">Another
                link</a></li>
            <li><a class="dropdown-item" style="color:#4e772b;" href="#">A third
                link</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" style="color:#4e772b;" href="#"
            role="button" data-bs-toggle="dropdown">Pages</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" style="color:#4e772b;" href="#">Link</a></li>
            <li><a class="dropdown-item" style="color:#4e772b;" href="#">Another
                link</a></li>
            <li><a class="dropdown-item" style="color:#4e772b;" href="#">A third
                link</a></li>
          </ul>
        </li>
        <div style="margin-left: 10em;">
          <a
            href="https://accounts.google.com/SignOutOptions?hl=en&continue=https://mail.google.com&service=mail"
            class="fa fa-google"></a>
          <a
            href="https://www.linkedin.com/in/roya-rastegar-ab920125a/?lipi=urn%3Ali%3Apage%3Ad_flagship3_feed%3Bk5jqUpPjT32VU%2B79BE%2BVRg%3D%3D"
            class="fa fa-linkedin"></a>
          <a href="#" class="fa fa-instagram"></a>
        </div>
      </ul>
    </nav>
  </div>
  <div class=" col-12 d-flex justify-content-center" style="background-color:
    #eceee0;color: #4e772b;padding-top: 3em;">
    <div style="padding-right: 10em;">
      <h1 style="color: #4e772b;">100% Organic and Fresh</h1>
      <h5 style="color: #4e772b;">It is Time To Convert Diet And Habits To
        Healthy </h5>
      <button class="btn" style="margin-left: 4em;background-color:#e8cd98;">Shop
        New</button>
    </div>
    <div>
      <img src="assets/fruits-vegetables.jpg" class="rounded-circle center"
        style="width: 20em">
    </div>
  </div>
  <div class="d-flex justify-content-center" style="background-color: #eceee0;">
    <hr style="width: 50%;background-color: #4e772b;">
  </div>
  <div class="d-flex justify-content-center" style="background-color:
    #eceee0;color: #4e772b;">
    <span style="color: #4e772b;background-color:#fbdb0e;font-size:
      3em;margin-top: 0.5em;">Top Sale</span>
  </div>
  <div class="row mt-5" >
    <div class="col-sm-3"></div>
    <div class="col-sm-6 d-flex justify-content-between " >
      <div class=" card" *ngFor="let t of topSale">
        <div class="image-container">
          <img [src]="t.src" class="img-fluid rounded thumbnail-image">
        </div>
        <div class="p-2">
          <div class="d-flex justify-content-center align-items-center">
            <h5  class="dress-name">{{t.name}}</h5>
          </div>
        </div>
      </div>
      </div>
    <div class="col-sm-3"></div>
    </div>
  <div class="row pt-5" style="background-color: #eceee0;">
    <div class="col-sm-3"></div>
    <div class="col-sm-6 shakeable align-items-center" style="background-color:
      #eceee0;min-width: 10em;min-height: 25em;">
      <div class="d-flex justify-content-start align-items-center "
        style="width: 20em;height: 20em;margin-left: 27em;margin-top: 2em;">
        <div class="card me-2">
          <div class="image-container">
            <div class="first">
              <div class="d-flex justify-content-between align-items-center">
                <span class="discount">-25%</span> <span class="wishlist"><i
                    class="fa fa-heart-o"></i></span> </div>
            </div> <img src="assets/salad-2.jpeg" class="img-fluid rounded
              thumbnail-image">
          </div>
          <div class="p-2">
            <div class="d-flex justify-content-between align-items-center">
              <h5 class="dress-name">SALAD</h5>
              <div class="d-flex flex-column mb-2"> <span class="new-price">$3.99</span>
                <small class="old-price text-right">$5.99</small> </div>
            </div>
            <div class="d-flex justify-content-between align-items-center pt-1">
              <div> <i class="fa fa-star-o rating-star"></i> <span
                  class="rating-number">4.8</span> </div> <span class="buyBtn">BUY
                +</span>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="image-container">
            <div class="first">
              <div class="d-flex justify-content-between align-items-center">
                <span class="discount">-10%</span> <span class="wishlist"><i
                    class="fa fa-heart-o"></i></span> </div>
            </div> <img src="assets/drinks.jpeg" class="img-fluid rounded
              thumbnail-image">
          </div>
          <div class="p-2">
            <div class="d-flex justify-content-between align-items-center">
              <h5 class="dress-name">DRINKS</h5>
              <div class="d-flex flex-column mb-2"> <span class="new-price">$7.5</span>
                <small class="old-price text-right">$10.99</small> </div>
            </div>
            <div class="d-flex justify-content-between align-items-center pt-1">
              <div> <i class="fa fa-star-o rating-star"></i> <span
                  class="rating-number">4.8</span> </div> <span class="buyBtn">BUY
                +</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3"></div>
    </div>
